<div class="board-wrapper">
  <div class="board">
    <div class="add" (click)="add(1)">
      +
    </div>
    <div class="score">
      {{game.player1.score}}
    </div>
    <div class="min" (click)="min(1)">
      -
    </div>
  </div>
  <div class="middle-board">
    <div class="set-message">
      <div [hidden]="!showSet">{{winText}}</div>
    </div>
    <div class="sets">
      <div class="set">
        {{game.player1.sets}}
      </div>
      <div class="set">
        {{game.player2.sets}}
      </div>
    </div>
    <div class="reset-wrapper">
      <div class="reset" (click)="reset()">Reset</div>
    </div>
  </div>
  <div class="board">
    <div class="add" (click)="add(2)">
      +
    </div>
    <div class="score">
      {{game.player2.score}}
    </div>
    <div class="min" (click)="min(2)">
      -
    </div>
  </div>
</div>